@import url("https://fonts.googleapis.com/css2?family=Texturina:wght@200&display=swap");
:root {
  font-size: 16px;
  font-family: texturina, sans-serif;
  --text-primary: #f1f7f8;
  --text-secondary: #24393c;
  --bg-primary: #afafaf;
  --bg-secondary: #59d25d;
  --bg-terciary: #006fb0;
  color: var(--text-secondary);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f1f7f8;
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

ul {
  flex-basis: 20%;
}

li {
  list-style: none;
}

/* nav {
  flex-basis: 20%;
} */

img {
  width: 100%;
}
/* iphone */
@media (max-width: 539px) {
  .main-info-section .text h1 {
    padding: 20px;
  }
}

@media (max-width: 1200px) {
  .main-info-section {
    flex-direction: column;
  }
  .main-info-section .text {
    background-color: var(--text-primary);
  }
  .text {
    flex-basis: 100%;
    order: 2;
  }

  .profile-img {
    display: none;
  }
}

.logo {
  padding: 10px;
  font-size: 40px;
}

.header-container {
  background-color: var(--text-secondary);
  color: var(--text-primary);
  display: flex;
  justify-content: space-evenly;
  gap: 4%;
  /* flex-basis: 100%; */
}

.main-info-section {
  background-color: var(--text-primary);
  display: flex;
  border-bottom: 10px solid;
  border-image: linear-gradient(to right, #24393c, #59d25d);
  border-image-slice: 1;
  gap: 4%;
  flex-wrap: wrap;
  /* max-width: 2000px; */
}

.profile-img {
  background-color: var(--text-primary);
  /* max-width: 800px; */
}

.header-container ul {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.text {
  /* display: flex; */
  background-color: var(--bg-secondary);
  flex-basis: 48%;
  /* max-width: 1000px; */
}

.text h1 {
  padding: 80px 20px 00px 120px;
}

.text p {
  padding: 0px 20px 0px 120px;
}

.text article {
  padding: 50px 40px;
  /* max-width: 1000px; */
  margin: auto;
  font-size: 1.2rem;
  /* flex-basis: 48%; */
}
.dev-work-horizontal {
  display: flex;
  width: 100%;
  border-bottom: 10px solid;
  border-image: linear-gradient(to right, #24393c, #59d25d);
  border-image-slice: 1;
}

.dev-work-horizontal li {
  width: 100vw;
}

.dev-work-horizontal li img {
  width: 100%;
}

.art-work-horizontal {
  display: flex;
  width: 100%;
  border-bottom: 10px solid;
  border-image: linear-gradient(to right, #24393c, #59d25d);
  border-image-slice: 1;
}

.art-work-horizontal li {
  width: 100vw;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.art-work-horizontal li img {
  width: 100%;
}

.sportszilla {
  align-self: center;
}

.feedbackr {
  align-self: center;
}

.profile-img {
  /* vertical-align: middle; */
  flex-basis: 48%;
  /* max-height: 600px; */
  /* max-width: 1000px; */
}

.profile-img img {
  max-width: 794px;
  max-height: 600px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proba_mosaic {
  /* padding: 4rem 8rem;
  display: inline-block;
  border: 3px solid #333333;
  font-size: 2.5rem;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  background: #ffffff;
  position: relative; */
}

/* .buttons-about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */

/* .buttons-about button {
  background-color: transparent;
  padding: 5px;
  width: 100px;
  font-family: texturina, sans-serif;
  border: none;
  font-size: 16px;
  color: var(--text-secondary);
} */
