@import url("https://fonts.googleapis.com/css2?family=Texturina:wght@200&display=swap");
:root {
  font-size: 16px;
  font-family: texturina, sans-serif;
  --text-primary: #f1f7f8;
  --text-secondary: #24393c;
  --bg-primary: #afafaf;
  --bg-secondary: #59d25d;
  --bg-terciary: #006fb0;
  color: var(--text-secondary);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f1f7f8;
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

li {
  list-style: none;
}

nav {
  width: 20%;
}

img {
  width: 600px;
}

.logo {
  padding: 10px;
  font-size: 40px;
}

.main-info-section {
  background-color: var(--text-primary);
  display: flex;
  border-bottom: 10px solid;
  border-image: linear-gradient(to right, #24393c, #59d25d);
  border-image-slice: 1;
}

.profile-img {
  width: 30%;
  background-color: var(--text-primary);
}

.header-container {
  background-color: var(--text-secondary);
  color: var(--text-primary);
  display: flex;
  justify-content: space-evenly;
}

.header-container ul {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.text {
  background-color: var(--bg-secondary);
}

.text h1 {
  padding: 20px 20px 00px 20px;
}

.text p {
  padding: 0px 20px;
}

.text article {
  padding: 50px 40px;
  width: 600px;
  margin: auto;
  font-size: 1.2rem;
}
.dev-work-horizontal {
  display: flex;
  width: 100%;
  border-bottom: 10px solid;
  border-image: linear-gradient(to right, #24393c, #59d25d);
  border-image-slice: 1;
}

.dev-work-horizontal li {
  width: 100vw;
}

.dev-work-horizontal li img {
  width: 100%;
}

.art-work-horizontal {
  display: flex;
  width: 100%;
  border-bottom: 10px solid;
  border-image: linear-gradient(to right, #24393c, #afafaf);
  border-image-slice: 1;
}

.art-work-horizontal li {
  width: 100vw;
}

.art-work-horizontal li img {
  width: 100%;
}

.sportszilla {
  align-self: center;
}

.feedbackr {
  align-self: center;
}

/* .buttons-about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */

/* .buttons-about button {
  background-color: transparent;
  padding: 5px;
  width: 100px;
  font-family: texturina, sans-serif;
  border: none;
  font-size: 16px;
  color: var(--text-secondary);
} */
