@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@200&display=swap');
:root{
	font-size: 16px;
	font-family: texturina;
	--text-primary: #F1F7F8;
	--text-secondary: #24393C;
	--bg-primary: #AFAFAF;
	--bg-secondary: #59D25D;
	--bg-terciary: #006FB0;
	color: var(--text-secondary);
}
*{
	box-sizing: border-box;

	margin: 0;
	padding:0;
}

.navbar{
	background-color: var(--bg-secondary);
	width: 100%vw;
	margin: 5px;
	padding:10px;
	
}
body{
	background-color: #F1F7F8;
}
header{
	height: 120px;
	/* box-shadow: 0 0 40px 40px #006fb0; */
	margin: 0px 10px 5px;
	border-bottom: 15px solid #24393c;
	border-radius: 3px;
	padding:5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
}
.nav__links{
	list-style: none;
}
a{
	text-decoration: none;
}
li{
	padding:10px;
	color: var(--text-secondary);
}
.container__navbar__socialmedia{
	margin:5px;
	padding: 10px;
}
.socialmedia{
	padding: 2px;
}
section {
	margin-left: 5rem;
	height: 4000px;
}
body::-webkit-scrollbar {
	width: 0.5rem;
}
body::-webkit-scrollbar-track {
	background: var(--text-secondary);
}
body::-webkit-scrollbar-thumb {
	background: var(--bg-secondary);
}
ul {
	display: flex;
	justify-content: space-around;
	font-size: 2rem;
	width: 400px;
}
div.logo-container{
	background-color: var(--text-secondary);
	border-radius: 50%;
	height: auto;
	box-shadow:  0 0 5px 3px var(--text-secondary);	
	transition: box-shadow 400ms linear;
}
.logo-container:hover{
	box-shadow: 0 0 5px 3px var(--bg-secondary) ;
}




